/* colors: #DCF0F1 #5BBBBA #BBEE2E3
font colors: color:rgb(20, 20, 20);     color:rgb(30, 30, 30); 
*/

.header{
    display: flex;
    justify-content: center;
  
}

.profilePicture{
    padding: 25px 10px 10px 10px;
    /* bottom: 110px; */
    filter: brightness(0.65);
    display: flex;
    justify-self: center;
    
}
.profilePicture>img{
    box-shadow: rgba(0, 0, 0, 0.45) 0px 5px 15px;
    border-radius: 3%;
}

.rinuya{
    font-size: 2.6rem;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px 1px #000000;
    position: absolute;
    justify-self: center;
    top: 260px;
}

.aboutmeholder{
    justify-self: center;
    padding: 22px;
    max-width: 35ch;
}
.rinuyadescription>h1{
    color:rgb(20, 20, 20);
    text-align: center;
}

.verticalDiv{
    /* needs to have different scaling on other sizes  */
    position: absolute;
    background-color: #223a66;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height: 200px;
    transform: rotate(-25deg) scale(3);
    width: 10000px;
    top: -190px;
}

.githubIcon{
    width: 2rem;
}


.aboutmeholder{
    display: flex;
    flex-direction: column;
    align-items: center;
  
}

@media (min-width: 500px) {
    .verticalDiv{
        transform: rotate(-18deg) scale(2);
        width: 10000px;
        top: -50px;
    }
}


@media (min-width: 1000px) {
    .verticalDiv{
        /* needs to have different scaling on other sizes  */
        height: 300px;
        transform: rotate(-6deg) scale(2);
        width: 10000px;
        top: -250px;
    }

    .aboutmeholder{
        position: relative;
        left: 210px;
       display: flex;
       flex-direction: row;
       justify-content: center;
       background-color: rgb(255, 255, 255);
       min-width: 300px;
       max-height: 300px;
       box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
       margin-top: 4ch;
       align-items: center;
        margin-bottom: 6ch;
    }
    .profilePicture{
        position: absolute;
        left: -420px;
        float: left;
        transform: translate(0px, -6px) ;
    }
    .rinuyadescription{
        /* float: right; */
        max-width: 35ch;
       
    }
    .aboutmeholder>div{
        position: relative;
        top:20px;
      align-self:flex-end;
    }
    h1{
        margin: 0.5ch;
    }
    .rinuya{
        font-size: 3rem;
        position: absolute;
        left: -270px;
        top: 180px;
    }
}